body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #29487d;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
    font-size: 50px;
    margin: 40px auto;
    display: table;
    color: #FFF;
    border-bottom: 2px solid #fff;
}

.config {
    color: #FFF;
    margin: 0 10px;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
}

.config input {
    margin: 0 10px;
}

#content {
    width: 100%;
}

.react-grid-layout {
    background: transparent;
}

.layoutJSON {
    background: #ddd;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.columns {
    -moz-columns: 120px;
    -webkit-columns: 120px;
    columns: 120px;
}

#main-wrapper {
    margin-left: 30% !important;
}

#fields>input {
    border: 1px solid #ccd0d5;
    padding: 4px;
    outline: none;
    border-radius: 7px;
    height: 25px !important;
}

#fields>input:focus {
    border: 1px solid rgba(81, 203, 238, 1);
}

button#signup-button,
#submit-signup {
    background-color: #69a74e;
    border-color: #2c5115;
    color: white;
    padding: 10px !important;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

input#submit-login,
#login-button {
    background-color: #4267b2;
    border-color: #29487d;
    color: white;
    padding: 10px !important;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#fields {
    margin-bottom: 50px;
}

#main-wrapper {
    margin-top: 7% !important;
}